<li>
    <h4> <%= event.title%> </h4>
    <p>created by <%= event.creator.name%></p>
    <h5> <%= link_to "Details", event_path(event), class: "link" %> </h5>
    <% if event.creator == current_user %>
        <h5> <%= link_to "Edit", edit_event_path(event), class: "link" %> </h5>
        <h5> <%= link_to "Delete", event_path(event), class: "link", data: { turbo_confirm: "are you sure yu want to delete this event?", turbo_method: :delete}, class: "btn btn-danger" %> </h5>
    <% end %>
</li>